google-api-core
google-cloud-profiler
grpcio-health-checking
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-grpc
python-json-logger
requests
rsa
google-generativeai
